.draws-galley-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2em;
    padding: 2em;
    margin: 2em;
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 1em;
}