* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .header {
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    background: linear-gradient(0deg, rgba(108,26,204,1) 0%, rgba(147,39,255,1) 100%);
    padding: 20px;
    text-align: left;
    font-size: 1rem;
    width: 100%;
    height: 12vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100vw;
  }
  
  .header h1 {
    font-size: 3rem;
    color: #D1B3FF;
  }
  
  .header ul {
    display: flex;
    gap: 1em;
    list-style: none;
    margin-inline: 1em;
    font-size: 1.5rem;
  }
  
  ul li {
    cursor: pointer;
  }
  
  .mobile {
    display: none; /* Hide mobile navigation on larger screens */
  }
  
  @media (max-width: 768px) {
    .desktop {
      display: none; /* Hide desktop menu on small screens */
    }
  
    .mobile {
      display: flex; /* Show mobile menu on small screens */
      align-items: center;
      justify-content: space-between;
    }
  
    .header {
      padding: 10px;
      height: 10vh;
    }

    .header h1 {
      font-size: 2rem;
    }
  
    .menu-burger {
      display: block; /* Make sure the burger icon is displayed */
      cursor: pointer;
      color: white;
      width: 30px;
      height: 30px;
      z-index: 2;
      margin-right: 1em;
    }
  
    .list-open {
      position: absolute;
      top: 100%;
      right: 0;
      background: rgba(108, 26, 204, 1);
      padding: 1em;
      border-radius: 0.5em;
      display: flex;
      flex-direction: column;
      gap: 1em;
      list-style: none;
      z-index: 1000;
      transition: opacity 0.3s ease, visibility 0.3s ease;
      visibility: visible;
      opacity: 1;
    }
  
    .list-hidden {
      position: absolute;
      top: 100%;
      right: 0;
      background: rgba(108, 26, 204, 1);
      padding: 1em;
      border-radius: 0.5em;
      display: flex;
      flex-direction: column;
      gap: 1em;
      list-style: none;
      z-index: 1000;
      transition: opacity 0.3s ease, visibility 0.3s ease;
      visibility: hidden;
      opacity: 0;
    }
  
    .list li {
      font-size: 1rem;
    }
  }
  