* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    background: linear-gradient(0deg, rgba(108,26,204,1) 0%, rgba(147,39,255,1) 100%);
    padding: 20px;
    text-align: left;
    font-size: 1rem;
    width: 100%;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header h1 {
    color: #D1B3FF
}

.header ul {
    display: flex;
    gap: 1em;
    list-style: none;
    margin-inline: 1em;
    font-size: 1.5rem;
}

ul li {
    cursor: pointer;
}

@media (max-width: 768px) {

    .header nav {
        display: none;
    }
}