* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin-inline: 1em;
    margin-top: 6.5em;
    margin-bottom: 1em;
    display: flex;
    gap: 8em;
    justify-content: center;
    padding: 1em;
}

.container p {
    width: 50%;
    text-align: justify;
}

@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	25% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(10px);
	}
    75% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-10px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}

.card {
    background: linear-gradient(0deg, rgba(147,39,255,1) 0%, rgba(209, 179, 255, 1) 100%);
    padding: 1.5em;
    border-radius: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5em;

}

.card:hover {
    animation: float 3s linear infinite;
}

.card img {
    border-radius: 1em;
    max-width: 350px;
    max-height: 250px;
    background-size: cover;
}

.card table {
    text-align: center;
    width: 100%;
}


.card table {
    width: 90%;
}

.card th,
td {
    padding: 0.2em;
}

.card th {
    text-align: left;
}

.card td {
    text-align: right;
}

@media(max-width: 768px) {
    .container {
        flex-direction: column;
        gap: 3em;
        padding: 1em;
    }

    .container p {
        width: 100%;
    }

    .card {
        width: 100%;
    }

    .card img {
        max-width: 100%;
    }
}