.photosCarousel {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    padding: 1em;
    margin-top: 10em;
    margin-bottom: 5em;
}

.text {
    width: 20%;
    margin-left: 30em;
}

.text-mobile {
    display: none;
}
@media(max-width: 768px) {
    .photosCarousel {
        flex-direction: column;
        gap: 4em;
        padding: 2em;
        margin: 2em;
    }

    .text-mobile {
        width: 100%;
        margin-left: 0;
        display: block;
    }

    .text {
        display: none;
    }
}